<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-fluent-ribbon" value="..\..\artifacts\Fluent.Ribbon.Uno.Packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-fluent-ribbon">
      <package pattern="Fluent.Ribbon.Uno" />
      <package pattern="Fluent.Ribbon.Uno.Core" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
